<div class="container d-flex flex-column align-items-center mt-4">

    <div id="container" class="container mw-100" ></div>
    <div id="containerTwo" class="container mw-100" ></div>
    <div id="loadingSpinner" class="spinner-grow" style="width: 5rem; height: 5rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <%= javascript_pack_tag 'newChart' %>
    <%= javascript_pack_tag 'nextChart' %>


</div>
