<div class="container d-flex flex-column align-items-center mt-4" id="main">

    <%# container for first chart %>
    <div id=firstChart class="container-fluid flex-column mw-100 align-items-left shadow p-2 d-none full-box" >
    <div class='close-bar w-100 d-flex justify-content-end'>
        <div id="closeFirstChart" class="btn d-flex align-items-center"><i id="firstBox" class="far fa-minus-square ms-1"></i></div>
    </div>
        <div id="container" class="container mw-100 align-center" ></div>
        <form class="d-flex g-3 w-100 ms-3 pe-4 mt-2 justify-content-between" id="numberForm" >
            <div class="col-auto w-25">
                <input type="number" id="monthNumber" class="form-control " placeholder="# of Months Displayed"/>
                <label class="visually-hidden" for="monthNumber">Number of Months</label>
            </div>
            
            <div class="col-auto mx-3">
                <button type="button" id="newMonthButton" class="btn btn-primary mb-3 d-inline">Update Chart</button>
                <button class="btn btn-primary mb-3 d-none" type="button" id="newMonthButtonSpinner"  disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>

            <div class="col-auto w-25 me-2">
                <select id="forecastLength" class="form-select mb-3" placeholder="Forecast Length">
                    <option value="1">1 day Forecast</option>
                    <option value="2" selected>2 day Forecast</option>
                    <option value="3">3 day Forecast</option>
                    <option value="4">4 day Forecast</option>
                    <option value="5">5 day Forecast</option>
                    <option value="6">6 day Forecast</option>
                    <option value="7">7 day Forecast</option>
                </select>
                <label class="visually-hidden" for="monthNumber">Forecast Length</label>
            </div>
        </form>
    </div>
    <%# container for second chart %>
    <div id=secondChart class="container-fluid flex-column mw-100 align-items-left shadow my-5 p-2 d-none full-box" >
    <div class='close-bar w-100 d-flex justify-content-end'>
        <div id="closeSecondChart" class="btn d-flex align-items-center"><i id="secondBox" class="far fa-minus-square ms-1"></i></div>
    </div>
    <div id="containerTwo" class="container mw-100 " ></div>
        <form class="d-flex g-3 w-25 ms-3 mt-2 d-inline" id="numberFormTwo">
            <div class="col-auto">
                <input type="number" id="monthNumberTwo" class="form-control" placeholder="# of Months Displayed"/>
                <label class="visually-hidden" for="monthNumberTwo">Number of Months</label>
            </div>
            
            <div class="col-auto mx-3">
                <button type="button" id="newMonthButtonTwo" class="btn btn-primary mb-3 d-inline">Update Chart</button>
            </div>
            <button class="btn btn-primary mb-3 d-none" type="button" id="newMonthButtonTwoSpinner"  disabled>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </form>
    </div>    
    <%# Grow spinners for loading %>
    <div id="loadingSpinner" class="spinner-grow" style="width: 10rem; height: 10rem; margin: 100px" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div id="loadingSpinnerTwo" class="spinner-grow" style="width: 10rem; height: 10rem; margin: 100px" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <%= javascript_pack_tag 'dailyTempChart' %>
    <%= javascript_pack_tag 'highLowChart' %>
    <%= javascript_pack_tag 'buttons' %>
    


</div>
