<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.bigcommerce.com/" target="_blank">
        <%= image_tag("m3Ox1Fk.png", class: "img-responsive", id: "navbar-logo", height: '50', width: '50') %>
    </a>
    </button>
  </div>
</nav>